@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import "~plyr/dist/plyr.css";
    @font-face {
        font-family: "IRANYekanBold";
        src: url('./assets/fonts/IRANYekanBold.ttf') format('truetype');
    }
    @font-face {
        font-family: "IRANYekanMedium";
        src: url('./assets/fonts/IRANYekanMedium.ttf') format('truetype');
    }
}